<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- Provide browserName as ie, chrome or firefox -->
<suite name="AssignmentSuite">
	<parameter name="browserName" value="chrome" />
	<test name="Assignment2">
		<classes>
			<class name="com.automation.pom.demo.tests.Assignment2" />
		</classes>
	</test>
</suite>